@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/eot/IRANSansWeb_Bold.eot");
  src: url("../fonts/eot/IRANSansWeb_Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Bold.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Bold.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/eot/IRANSansWeb_Medium.eot");
  src: url("../fonts/eot/IRANSansWeb_Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Medium.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Medium.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/eot/IRANSansWeb_Light.eot");
  src: url("../fonts/eot/IRANSansWeb_Light.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_Light.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_Light.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_Light.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot");
  src: url("../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb_UltraLight.woff") format("woff"), url("../fonts/ttf/IRANSansWeb_UltraLight.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/eot/IRANSansWeb.eot");
  src: url("../fonts/eot/IRANSansWeb.eot?#iefix") format("embedded-opentype"), url("../fonts/woff2/IRANSansWeb.woff2") format("woff2"), url("../fonts/woff/IRANSansWeb.woff") format("woff"), url("../fonts/ttf/IRANSansWeb.ttf") format("truetype");
}

body {
  font-family: "IRANSans";
  direction: rtl;
  background-color: #eeeeee;
}

header {
  background-color: #2196f3;
  height: 80px;
  -webkit-box-shadow: 0px 3px 18px 0px #6e6d6e;
          box-shadow: 0px 3px 18px 0px #6e6d6e;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header__right-menu ul {
  list-style: none;
  padding: 18px;
}

header .header__right-menu ul li {
  display: inline;
}

header .header__right-menu ul li a {
  color: #fcfcfc;
  font-size: 20px;
  margin: 15px;
}

header .header__left-menu {
  padding: 10px;
  margin: 10px;
  color: #fcfcfc;
}

header .header__left-menu i {
  margin-left: 30px;
}

.detail-product {
  background-color: #ffffff;
  margin-top: 60px;
}

.detail-product .product-images {
  padding: 40px 0px;
}

.detail-product .product-images .product-image {
  position: relative;
  max-width: 100%;
}

.detail-product .product-images .tag {
  position: absolute;
  right: 0;
  top: 0;
  padding: 18px 20px;
  color: #fcfcfc;
  background: #f44336;
}

.detail-product .product-texts {
  padding: 40px 10px;
}

.detail-product .product-texts .product-title {
  font-weight: lighter;
  font-size: 28px;
}

.detail-product .product-texts .product-sub-title {
  font-weight: lighter;
  font-size: 17px;
  margin-top: 17px;
}

.detail-product .product-rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.detail-product .product-rate i {
  color: #2196f3;
}

.detail-product .product-price {
  margin-top: 10px;
  color: #777;
}

.detail-product .product-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

.detail-product .product-color .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.detail-product .product-color .colors .circle-color {
  border: 2px solid #2196f3;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-left: 3px;
}

.detail-product .product-color .colors .color-white {
  background-color: #fcfcfc;
}

.detail-product .product-color .colors .color-blue {
  background-color: #2196f3;
}
/*# sourceMappingURL=style.css.map */